<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.harusari.chainware.statistics.query.mapper.PredictionComparisonQueryMapper">

    <!-- sales -->
    <select id="getActualSalesAllFranchises" resultType="com.harusari.chainware.statistics.query.dto.predictionComparison.PredictionComparisonDto">
        SELECT DATE(s.sold_at) AS date, SUM(s.total_amount) AS value, 'ACTUAL' AS type
        FROM sales s
        WHERE s.sold_at BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(s.sold_at)
    </select>

    <select id="getPredictedSalesAllFranchises" resultType="com.harusari.chainware.statistics.query.dto.predictionComparison.PredictionComparisonDto">
        SELECT target_date AS date, SUM(predicted_value) AS value, 'PREDICTED' AS type
        FROM prediction_result
        WHERE prediction_type = 'sales'
        AND period_type = 'WEEKLY'
        AND target_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY target_date
    </select>

    <!-- order_quantity -->
    <select id="getActualOrderQuantityAllFranchises" resultType="com.harusari.chainware.statistics.query.dto.predictionComparison.PredictionComparisonDto">
        SELECT DATE(so.delivery_due_date) AS date, SUM(sod.quantity) AS value, 'ACTUAL' AS type
        FROM store_order so
        JOIN store_order_detail sod ON so.store_order_id = sod.store_order_id
        WHERE so.delivery_due_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(so.delivery_due_date)
    </select>

    <select id="getPredictedOrderQuantityAllFranchises" resultType="com.harusari.chainware.statistics.query.dto.predictionComparison.PredictionComparisonDto">
        SELECT target_date AS date, SUM(predicted_value) AS value, 'PREDICTED' AS type
        FROM prediction_result
        WHERE prediction_type = 'order_quantity'
        AND period_type = 'WEEKLY'
        AND target_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY target_date
    </select>

</mapper>
