<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.harusari.chainware.statistics.query.mapper.TotalSalesStatisticsQueryMapper">

    <!-- 현재 또는 이전 기간 총 매출 합계 조회 -->
    <select id="getTotalAmount" resultType="long">
        SELECT
        COALESCE(SUM(s.total_amount), 0)
        FROM sales s
        WHERE DATE(s.sold_at) BETWEEN #{startDate} AND #{endDate}
        <if test="franchiseId != null">
            AND s.franchise_id = #{franchiseId}
        </if>
    </select>

</mapper>